* {
    
    box-sizing: border-box;
}

header {
    margin-bottom:20px;
}
.logo_header {
    background: lightblue url("../img/pattern.png") repeat;
    background-size: contain;
    padding-top:50px;
}

h1 {
    margin-bottom:0px;
}

.sottotitolo {
    font-size:13px;
    color:silver;
    font-weight: bold;
    margin-bottom:20px;
}

#name {
    color:lightskyblue;
}

#date {
    font-size:9px;
}

.descrizione {
    font-size:9px;
    margin-bottom:20px;
}

.articolo {

}

#yellow {
    background-color:yellow;
}

thead {
    background-color:lightblue;
    color:white;
    padding:0;
}

th, td {
width:400px;
text-align:left;
}

#lightblue {
    background-color:lightcyan;
}